<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sukansh pendor || Homepage</title>
    <script
      src="https://kit.fontawesome.com/56c759bb6e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../style.css" />

  </head>
  <body>

    <div class="container">

      {{! <div class="contact"> }}
      {{! <h2>Contact me</h2> }}
      {{! <form action=""> }}
      {{! <label for=""></label> }}
      {{! <input type="text" /> }}
      {{! <label for=""></label> }}
      {{! <input type="email" /> }}
      {{! <label for=""></label> }}
      {{! <input type="phone" /> }}
      {{! <button type="submit">SEND</button> }}
      {{! </form> }}
      {{! </div> }}
      <div id="scroll-progress"></div>
      <div class="nav">

        <div class="logo">
          <h2>SUKANSH</h2>
        </div>
        <div class="menu_list">
          <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">PROJECTS</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">CONTACT</a></li>
          </ul>
        </div>
        <div class="chat">
          <a href="">lets have a chat</a>
        </div>

      </div>
      <div class="homepage">

        <div class="banner">
          {{! <div class="page-slider"> }}
          {{! <div class="box-one"> }}
          {{! <div class="line" > }}
          {{! <div class="indicator"> }}
          {{! <ul> }}
          {{! <li><a href="">HOME</a></li> }}
          {{! <li><a href="">PROJECTS</a></li> }}
          {{! <li><a href="">SERVICE</a></li> }}
          {{! <li><a href="">CONTACT</a></li> }}

          {{! </ul> }}
          {{! </div> }}
          {{! </div> }}
          {{! </div> }}
          {{! </div> }}

          <div class="info">
            <h1>Hello</h1>
            <h1>It's Sukansh Pendor</h1>
            <h1>UI/UX Designer <span>&</span></h1>
            <h1> Full stack Developer</h1>
            <p>Currently working as full stack Developer for
              kkdinternationaltrade</p>
            <button type="submit">Resume
              <i class="fas fa-download"></i></button>
          </div>

          <div class="image">
          </div>

        </div>

        <div class="numbers">
          <div class="box">
            <h2>4+</h2>

            <p>clients</p>
          </div>
          <div class="box">
            <h2>30+</h2>
            <p>projects</p>
          </div>
          <div class="box">
            <h2>3</h2>
            <p>internships</p>
          </div>

        </div>

      </div>

      <div class="projects">

        <div class="content">

          <div class="box">

            <img
              src="https://images.unsplash.com/photo-1526367790999-0150786686a2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171"
              alt=""
              srcset=""
            />
            <br />

            <div class="info">

              <div class="heading">

                <h3>Web Developer Intern</h3>
                <h4>@ de'HoFoo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatem, ab!</p>
                <a href="#">visit website</a>
              </div>

              <br />
              <div class="year">
                <ul>2022</ul>
                <ul>
                  <li>Frontend</li>
                  <li>Backend</li>
                  <li>UI/UX design</li>

                </ul>
              </div>
            </div>

            {{! <a href="" class="hover-underline-animation">Read More</a>  }}
          </div>

          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1619852182277-79aa23f82c8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
              alt=""
              srcset=""
            />
            <br />
            <div class="info">
              <div class="heading">
                <h3>UI/UX Designer intern</h3>
                <h4>@ mirrorscore</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatem, ab!</p>
                <a href="www.mirrorscore.com">www.mirrorscore.com</a>
              </div>
              <br />
              <div class="year">
                <ul>2022</ul>
                <ul>
                  <li>UI/UX design</li>
                  <li>Graphic desgin</li>
                </ul>
              </div>
            </div>
            {{! <a href="" class="hover-underline-animation">Read More</a> }}
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1613076321656-23dcdd3aea92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
              srcset=""
            />
            <br />
            <div class="info">
              <div class="heading">
                <h3>Website Developer</h3>
                <h4>@ kkdinternationaltrade</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatem, ab!</p>
                <a
                  href="www.kkdinternationaltrade.com"
                >www.kkdinternationaltrade.com</a>
              </div>
              <br />
              <div class="year">
                <ul>2022</ul>
                <ul>
                  <li>Frontend</li>
                  <li>Backend</li>
                  <li>UI/UX design</li>
                </ul>
              </div>
            </div>
            {{! <a href="" class="hover-underline-animation">Read More</a> }}
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1542744095-291d1f67b221?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
              srcset=""
            />
            <br />
            <div class="info">
              <div class="heading">
                <h3>Amazon clone</h3>
                <h4>@ personal project</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatem, ab!</p>
                <a href="www.amazon.com">www.amazon.com</a>
              </div>
              <br />
              <div class="year">
                <ul>2021</ul>
                <ul>
                  <li>Frontend</li>
                  <li>Backend</li>
                  <li>UI/UX design</li>
                </ul>
              </div>
            </div>
            {{! <a href="" class="hover-underline-animation">Read More</a>  }}
          </div>
        </div>
      </div>

      <div class="card-container">
        <h1>Recent Work</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo,
          dolorum?</p>
        <div class="content">
          <div class="image-card perspective-left"></div>
          <div class="image-card perspective-right"></div>
        </div>

      </div>

      <div class="image-container">
             
      </div>

      <div class="services">
        <div class="heading">
          <h1>Services</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae,
            nostrum.</p>
        </div>

        <div class="content">
          <div class="box">
            <h1>MERN</h1>
            <p>GET YOUR MERN WEBSITE NOW</p>
            <button type="submit">SEND MESSAGE</button>

          </div>
          <div class="box"><h1>PHP</h1>
            <p>GET YOUR PHP WEBSITE NOW</p>
            <button type="submit">SEND MESSAGE</button></div>
          <div class="box"><h1>ILLUSTRATION</h1>
            <p>GET YOUR VECTOR ILLUSTRATION NOW</p>
            <button type="submit">SEND MESSAGE</button></div>
          <div class="box"><h1>UI/UX</h1>
            <p>LETS DESIGN YOUR WEBSITE /</p>
            <button type="submit">SEND MESSAGE</button></div>
        </div>
      </div>

      <div class="contact-form">
        <form action="">
          <h1>Drop A Line</h1>
          <label for="">Name</label>
          <input type="text" />
          <label for="">Email</label>
          <input type="email" />
          <label for="">Phone Number</label>
          <input type="phone" />
          <label for="">Message</label>
          <input type="text" />
          <button type="submit">SEND MESSAGE</button>
        </form>
        <div class="address_info">
          <h3>Latare out pandharkwada - 445302</h3>
          <p>Yawtmal , Maharashtra , India</p>

        </div>
      </div>

      <div class="footer">
        <div class="location">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15079.484184289555!2d77.29796705!3d19.1133123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1652965765541!5m2!1sen!2sin"
            width="1500"
            height="400"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="social">
          <div class="social-media">
            <ul>
              <li><a href=""><i class="fab fa-instagram"></i>instgram</a></li>
              <li><a href=""><i class="fab fa-linkedin"></i>linkedin</a></li>
              <li><a href=""><i class="fab fa-behance"></i>Behance</a></li>
              <li><a href=""><i class="fab fa-github"></i>github</a></li>
              <li><a href=""><i
                    class="fab fa-twitter-square"
                  ></i>twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script>
      const scrollProgress = document.getElementById('scroll-progress'); const
      height = document.documentElement.scrollHeight -
      document.documentElement.clientHeight; window.addEventListener('scroll',
      () => { const scrollTop = document.body.scrollTop ||
      document.documentElement.scrollTop; scrollProgress.style.width =
      `${(scrollTop / height) * 100}%`; });
    </script>

  </body>

</html>