<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>

    <div class="container">
     <h2>Students list</h2>
     <br>
     <br>
    
      <div class="menu">
        <a href="/add">ADD STUDENT</a>
        <a href="/delete">DELETE STUDENT</a>
        <a href="/view">VIEW STUDENT</a>
      </div>
    </div>

  </body>
</html>